<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BST_INOUT.Project.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>



    <userSettings>
        <BST_INOUT.Project.My.MySettings>
            <setting name="CheckName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckTimeStamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckCompany" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntervalFadeOut" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="IntervalCheck" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DoorIN" serializeAs="String">
                <value>Innerfance I-8 IN</value>
            </setting>
            <setting name="DoorOut" serializeAs="String">
                <value>Innerfance I-8 OUT</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=172.16.128.16\Verex ;Initial Catalog=Director;Persist Security Info=True;User ID=DirectorQueryUser;Password=P@ssw0rd;Connection Timeout=120;</value>
            </setting>
        </BST_INOUT.Project.My.MySettings>
    </userSettings>
</configuration>